{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}} {{! Pull data from the post object }}

<article class="{{post_class}}">

    {{! If post is featured and has an image, make a big hero banner }}
    {{#if image}}{{#if featured}}
    <div class="hero">
        <div class="hero-image  parallax" style="background-image: url({{image}});"></div>
    </div>
    {{/if}}{{/if}}

    {{! Outer wrapper for content/sidebar }}
    <div class="post-wrapper">

        {{! Inner wrapper for post-meta/content }}
        <div class="post-body">

            <section class="post-content">
                {{#if image}}{{#unless featured}}
                <figure class="post-image"><img src="{{image}}" alt="{{title}}" /></figure>
                {{/unless}}{{/if}}
                {{content}}
            </section>

        </div>{{!post-body}}

        <aside class="post-sidebar">
            <section class="popular-posts">
                <h4>Popular Now</h4>
                <ol>
                    <li><a href="#">
                        <div class="post-title">The First and Only Way to Wrestle a Grizzle Bear</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">These 20 People Have More Money Than Sense</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">One Little Girl Dances to Dupstep and The Crowd Goes Wild</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">72 Reasons why Cats are Probably Terrorists, Backed by Science</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">Charlie was a Boy with Nothing, Now he Has Everythign</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                </ol>
            </section>
        </aside>

    </div>{{!post-wrapper}}

</article>

{{/post}}
