{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}} {{! Pull data from the post object }}

<article class="{{post_class}}">

    {{! If post is featured and has an image, make a big hero banner }}
    {{#if image}}{{#if featured}}
    <div class="hero">
        <div class="hero-image  parallax" style="background-image: url({{image}});"></div>
    </div>
    {{/if}}{{/if}}

    {{! Outer wrapper for content/sidebar }}
    <div class="post-wrapper">

        {{! Inner wrapper for post-meta/content }}
        <div class="post-body">

            {{! Regular post image, unless post is featured }}
            {{#if image}}{{#unless featured}}
            <figure class="post-image"><img src="{{image}}" alt="{{title}}" /></figure>
            {{/unless}}{{/if}}

            <section class="post-content">
                {{content}}
            </section>

        </div>{{!post-body}}

    </div>{{!post-wrapper}}

</article>

{{/post}}
