{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

<main class="content" role="main">

    {{#post}}
    <div class="content-wrapper">
        <article class="{{post_class}}">

            <header class="post-header">
                <div class="post-tags">{{tags}}</div>
                <h1 class="post-title">{{title}}</h1>
                {{#if image}}<img class="post-image" src="{{image}}" alt="{{title}}" />{{/if}}
            </header>

            <section class="post-content">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                {{content}}
            </section>

        </article>
    </div>
    {{/post}}

</main>
