{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}} {{! Pull data from the post object }}

<div class="floating-header">
    <div class="site-logo">
        <a href="{{@blog.url}}">
        {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
        {{else}}
            {{@blog.title}}
        {{/if}}
        </a>
    </div>
    <div class="post-title">{{title}}</div>
    <div class="float-share">
        <div class="float-share-label">Share this</div>
        <a class="float-share-tw" href="#">tw</a>
        <a class="float-share-fb" href="#">fb</a>
    </div>
</div>

<article class="{{post_class}}">

    {{! If post is featured and has an image, make a big hero banner }}
    {{#if image}}{{#if featured}}
    <div class="hero">
        <div class="hero-image  parallax" style="background-image: url({{image}});"></div>
    </div>
    {{/if}}{{/if}}

    {{! Outer wrapper for content/sidebar }}
    <div class="post-wrapper">

        {{! Inner wrapper for post-meta/content }}
        <div class="post-body">

            <header class="post-header">
                <div class="post-tags">
                    {{! If post is featured, add feature label }}
                    {{#if featured}}<span class="feature-label">Feature</span>{{/if}}
                    {{! Now list all the tags }}
                    {{tags}}
                </div>
                <h1 class="post-title">{{title}}</h1>
            </header>

            {{! Regular post image, unless post is featured }}
            {{#if image}}{{#unless featured}}
            <figure class="post-image"><img src="{{image}}" alt="{{title}}" /></figure>
            {{/unless}}{{/if}}

            {{! Author/sharing links - left on desktop, top on mobile }}
            <section class="post-meta">

                {{#author}} {{! Pull data from the author object }}
                <section class="author">
                    {{#if image}}
                    <a class="author-image" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                    {{/if}}
                    <span class="author-name"><a href="{{url}}">{{name}}</a></span>
                </section>
                {{/author}}

                <section class="post-sharing">
                    <ul class="">
                        <li><a href="#">128</a></li>
                        <li><a href="#">128</a></li>
                        <li><a href="#">128</a></li>
                        <li><a href="#">128</a></li>
                        <li><a href="#">128</a></li>
                    </ul>
                </section>

            </section>{{!post-meta}}

            <section class="post-content">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY \at HH:MM"}}</time>
                {{content}}
            </section>

        </div>{{!post-body}}

        <aside class="post-sidebar">
            <section class="popular-posts">
                <h4>Popular Now</h4>
                <ol>
                    <li><a href="#">
                        <div class="post-title">The First and Only Way to Wrestle a Grizzle Bear</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">These 20 People Have More Money Than Sense</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">One Little Girl Dances to Dupstep and The Crowd Goes Wild</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">72 Reasons why Cats are Probably Terrorists, Backed by Science</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                    <li><a href="#">
                        <div class="post-title">Charlie was a Boy with Nothing, Now he Has Everythign</div>
                        <div class="author-name">by John O'Nolan</div>
                    </a></li>
                </ol>
            </section>
        </aside>

    </div>{{!post-wrapper}}

</article>

{{/post}}
